.characterBlock {
    text-align: center;
    img {
        width: 350px;
    }

    .card {
        width: 24vw;
        // padding: 0 auto;
        margin: 5px;
        &__status {
            display: inline-block;
        }
    }
}
